body {
	font-family:Verdana;
	font-size:14px;
}

.ui-autocomplete {
	padding: none;
	list-style: none;
	background-color: #fff;
	width: 320px;
	border: 1px solid #B0BECA;
	max-height: 170px;
	overflow-y: scroll;
}

.ui-autocomplete .ui-menu-item a {
	border-top: 1px solid #B0BECA;
	display: block;
	padding: 4px 6px;
	color: #353D44;
	cursor: pointer;
}

.ui-autocomplete .ui-menu-item:first-child a {
	border-top: none;
}

.ui-autocomplete .ui-menu-item a.ui-state-hover {
	background-color: #D5E5F4;
	color: #161A1C;
}

#kirtanSearchbar{
    width:100%;
    overflow:hidden;
    /* add gradient */
    background-color:#808080;
    background:-webkit-gradient(linear, left top, left bottom, from(#B0C4DE), to(#F0FFFF));
    background:-moz-linear-gradient(top, #B0C4DE, #F0FFFF);
}

#kirtanDiv
{
   width:100%;
 }


table.kirtanDetails
{    
    width:100%;
    border-collapse:collapse;
    text-align:left; 
    color: #606060;
    table-layout:fixed;
}

div#divContainer
{
    min-width:320px;
    max-width:480px;
    margin:0 auto;
    font-family:Calibri;
    padding:0.5em 1em 1em 1em;
 }
 
  
 input {
	width: 310px;
}

#chbox{
	width: 23px;
}
 
